@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: white;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

#header{
    background-color: black;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

#header-logo{
    height: 85px;
}

#header-burger{
    height: 35px;
    margin-top: 15px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.burger-content{
    font-size: 20px;
    color:white;
    padding: 3px;
    text-align: center;
}

.burger-content:hover{
    background-color: red;
    color: black;
}

#burger{
    position: relative;
}

#burger:hover #burger-dropdown{
    display: block;
}

#burger-dropdown{
    position: absolute;
    right: 0;

    background-color: black;
    width: 200px;
    display: none;
}

/* content 1*/


#about-game{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: #B4B4B4;
    padding: 10px 40px 10px 40px;
    height: 60vh;
}

#about-game-exp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

#about-us-title{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

#game-exp{
    color: black;
    font-size: 1.4em;
}

#about-game-pic{
    width: 300px;
    height: 300px;
}

/* content 2 */
#map-title{
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}

#maps{
    background-color: #7A7979;
}

.map-pic{
    height: 250px;
}

#map-up{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#map-down{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

/* content 3 */

#agents{
    background-color: #B4B4B4;
}

#agents-title{
    color: black;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}

#agent-pic{
    height: 300px;
}

#our-agent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 180px;
    margin-right: 180px;
}

#agent-quote{
    /* padding: 5px 100px 70px 100px; */
    padding-bottom: 50px;
    font-size: 2em;
}

#learn-more-agent{
    text-align: center;
}

#button:hover{
    background-color: black;
    color:red;
}

#learn-more-button{
    border: none;
    color:white;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    width: 10vw;
    height: 8vh;
}

/* content 4 */

#sosmed-content{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #7A7979;    
}

.sosmed-content-img{
    padding: 5px;
    height: 100px;
}

.sosmed-content-name{
    font-size: 50px;
}

.sosmed-name{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* footer */

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    height: 80px;
    padding: 0 1em;
}

#copyright{
    margin-left: 5px;
}

.footer-text{
    color: white;
    font-size: 25px;
    padding: 2px;
    margin-right: 1em;
}

#follow-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.footer-sosmed{
    height: 3em;
    padding: 5px;
}

#facebookicon{
    height: 3.4em;
}

#instaicon{
    margin-right: 0.8em;
}

#youtubeicon {
    margin-left: 0.8em;
}

#last-footer-sosmed{
    margin-left: 1em;
}

/* media screen */

@media screen and (max-width: 850px){
    #about-game-pic{
        width: 350px;
        height: 200px;
    }

    .map-pic{
        height: 200px;
    }

    #our-agent{
        margin-left: 0;
        margin-right: 0;
    }

    #learn-more-button{
        width: 15vw;
        height: 8vh;
    }

    .footer-text{
        font-size: 18px;
    }
}