@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: red;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#header{
    background-color: black;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

#header-logo{
    height: 85px;
}

#header-burger{
    height: 35px;
    margin-top: 15px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.burger-content{
    font-size: 20px;
    color:white;
    padding: 3px;
    text-align: center;
}

.burger-content:hover{
    background-color: red;
    color: black;
}

#burger{
    position: relative;
}

#burger:hover #burger-dropdown{
    display: block;
}

#burger-dropdown{
    position: absolute;
    right: 0;

    background-color: black;
    width: 200px;
    display: none;
}

/* content */


#content{
    background-color: #B4B4B4;
    height: 15%;
}

#intro{
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

#sr-title{

    color: black;

    text-align: center;
    font-weight: 600;
    font-size: 40px;
    /*
    animation-name: breathe;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    */
}

@keyframes breathe {
    0% {
      font-size: 45px;
    }
    
    50% {
      font-size: 43px;
    }
    
    100% {
      font-size: 45px;
    }
  }

/* Middle information */
#profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#more_content{
    background-color: #B4B4B4;
    height: 61%;
}

#bonus_vid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#fix_bug{
    background-color: #B4B4B4;
    color:#B4B4B4;
    height: 5%
}

#story{
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

/* footer */


#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    height: 80px;
    padding: 0 1em;
}

#copyright{
    margin-left: 5px;
}

.footer-text{
    color: white;
    font-size: 25px;
    padding: 2px;
    margin-right: 1em;
}

#follow-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.footer-sosmed{
    height: 3em;
    padding: 5px;
}

#facebookicon{
    height: 3.4em;
}

#instaicon{
    margin-right: 0.8em;
}

#youtubeicon {
    margin-left: 0.8em;
}

#last-footer-sosmed{
    margin-left: 1em;
}

/* media screen */

@media screen and (max-width: 850px){
    #about-game-pic{
        width: 350px;
        height: 200px;
    }

    .map-pic{
        height: 200px;
    }

    #our-agent{
        margin-left: 0;
        margin-right: 0;
    }

    #learn-more-button{
        width: 15vw;
        height: 8vh;
    }

    .footer-text{
        font-size: 18px;
    }
}
