@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

body{
    background-color: rgb(180, 180, 180);
}

a{
    text-decoration: none;
}

/* Header */

#header{
    background-color: black;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

#header-logo{
    height: 85px;
}

#header-burger{
    height: 35px;
    margin-top: 15px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.burger-content{
    font-size: 20px;
    color:white;
    padding: 3px;
    text-align: center;
}

.burger-content:hover{
    background-color: red;
    color: black;
}

#burger{
    position: relative;
}

#burger:hover #burger-dropdown{
    display: block;
}

#burger-dropdown{
    position: absolute;
    right: 0;

    background-color: black;
    width: 200px;
    display: none;
}


/* content */

#laquo{
    cursor: pointer;
}

#raquo{
    cursor: pointer;
}

#content h1{
    display: flex;
    justify-content: center;
    padding: 15px;
}

#content{
    height: 72vh;
}

.card{
    float: left;
    width: 500px;
}

#card-container{
    position: relative;
    /* height: 50vh;
    width: 100vw;
    
    
    align-items: center; */
    display: flex;
    /* justify-content: space-around; */
}

#slider-show{
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    
}

#slider{
    display: flex;
    align-items: center;
    justify-content: center;
}

#content p{
    font-size: 50px;
    margin: 20px;
}

/* Footer */

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;

    background-color: black;
    height: 80px;
    width: 100%;
    /* padding: 0 1em; */
}

#copyright{
    margin-left: 1em;
}

.footer-text{
    color: white;
    font-size: 25px;
    padding: 2px;
    margin-right: 1em;
}

#follow-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.footer-sosmed{
    height: 3em;
    padding: 5px;
}

#facebookicon{
    height: 3.4em;
}

#instaicon{
    margin-right: 1em;
}

#last-footer-sosmed{
    margin: 0 1em;
}

@media screen and (max-width: 850px) {
    .footer-text{
        font-size: 18px;
    }
}